{% extends "base.html" %}
{% block title %} 新闻聚合网站-首页 {% endblock title %}

<!-- javascript -->
{% block js %}
{% endblock %}

<!-- css -->
{% block css %}
<!-- Custom CSS -->
<link href="/front/css/index.css" rel="stylesheet">
{% endblock %}

{% block main_content %}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">类别</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/Hot-512.png" />
			<a class="btn btn-outline btn-danger btn-large btn-block" href="/news_table?cate=hot"> 热点新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/finance-512.png" />
			<a class="btn btn-outline btn-primary btn-large btn-block" href="/news_table?cate=finance"> 财经新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/Fighter_Jet_II-512.png" />
			<a class="btn btn-outline btn-warning btn-large btn-block" href="/news_table?cate=military"> 军事新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/society-512.png" />
			<a class="btn btn-outline btn-info btn-large btn-block" href="/news_table?cate=society"> 社会新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/entertainment-512.png" />
			<a class="btn btn-outline btn-success btn-large btn-block" href="/news_table?cate=entertainment"> 娱乐新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/technology-512.png" />
			<a class="btn btn-outline btn-info btn-large btn-block" href="/news_table?cate=tech"> 科技新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/sports-512.png" />
			<a class="btn btn-outline btn-success btn-large btn-block" href="/news_table?cate=sports"> 体育新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/education-512.png" />
			<a class="btn btn-outline btn-warning btn-large btn-block" href="/news_table?cate=education"> 教育新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/law-512.png" />
			<a class="btn btn-outline btn-success btn-large btn-block" href="/news_table?cate=law"> 法律新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/travel-11-512.png" />
			<a class="btn btn-outline btn-danger btn-large btn-block" href="/news_table?cate=travel"> 旅游新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/china-512.png" />
			<a class="btn btn-outline btn-danger btn-large btn-block" href="/news_table?cate=china"> 国内新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/international-512.png" />
			<a class="btn btn-outline btn-success btn-large btn-block" href="/news_table?cate=internation"> 国际新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/gangao.png" />
			<a class="btn btn-outline btn-danger btn-large btn-block" href="/news_table?cate=gangao"> 港澳台新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/other-512.png" />
			<a class="btn btn-outline btn-primary btn-large btn-block" href="/news_table?cate=other"> 其他新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">来源</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/qq.png" />
			<a class="btn btn-outline btn-primary btn-large btn-block" href="/news_table?source=qq"> 腾讯新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/sina.png" />
			<a class="btn btn-outline btn-warning btn-large btn-block" href="/news_table?source=sina"> 新浪新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/ifeng.jpg" />
			<a class="btn btn-outline btn-danger btn-large btn-block" href="/news_table?source=ifeng"> 凤凰新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/chnews.jpg" />
			<a class="btn btn-outline btn-danger btn-large btn-block" href="/news_table?source=chnews"> 中国新闻网
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/163.jpg" />
			<a class="btn btn-outline btn-danger btn-large btn-block" href="/news_table?source=163"> 网易新闻
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/people.jpg" style="width: 160px"/>
			<a class="btn btn-outline btn-danger btn-large btn-block" href="/news_table?source=people"> 人民网
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
	<div class="col-md-3">
		<div class="tile">
			<img class="tile-image big-illustration" alt="" src="/front/img/icons/xinhua.jpg" style="width: 200px"/>
			<a class="btn btn-outline btn-info btn-large btn-block" href="/news_table?source=xinhua"> 新华网
			<i class="fa fa-arrow-circle-right"></i></a>
		</div>
	</div>
</div>
{% endblock %}