.dataTable_wrapper {
	margin-top: 20px;
}

table.dataTable thead > tr > th {
	padding-left: 8px;
	padding-right: 8px;
}

.btn-circle {
	width: 20px;
	height: 20px;
	padding: 2px 0px;
	border-radius: 10px;
	text-align: center;
	font-size: 10px;
}