#news_pubtime, #news_source {
	margin-top: 10px;
	margin-bottom: 0;
}

dl {
	display: block;
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
}

dd {
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

.word_org {
	background-color: #ffcb99;
}
.word_per {
	background-color: #ffcccb;
}
.word_gpe {
	background-color: #67ccaa;
}
.word_misc {
	background-color: #f3e988;
}
.word_loc {
	background-color: #99cc67;
}
.word_temp {
	background-color: #FBE3BF;
}
.word_width {
	padding-left: 0.8em;
	padding-right: 0.8em;
	padding-top: 0.2em;
	padding-bottom: 0.2em;
	display:-moz-inline-box; 
	display:inline-block;
}

.btn-circle {
	width: 20px;
	height: 20px;
	padding: 2px 0px;
	border-radius: 10px;
	text-align: center;
	font-size: 10px;
}

iframe#demo {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border: none;
}
